$white: #fff;
$black: #000;
$green:#27ae60;
$blue: #2980b9;

$title: #192A3E;
$label: #90A0B7;
$subtitle : #6F6363;

$error: #f44336;

$yellow: #ffc72c;
$primary: #ba0c2f;
$primary_black: #451311;

$grey: #969da5;
$grey-white: #EBEFF2;
